::ng-deep ngb-modal-backdrop {
    z-index: 1050 !important;
  }

  .container {
    height: 100vh;
  }
  
  .left {
    background-color: lightgray;
  }
  
  .right {
    background-color: beige;
  }




  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  

  .mat-cell {
    padding: 8px 16px;
  }
  
  .mat-icon-button {
    margin-right: 8px;
  }


  .dvBtnAct{
    display: flex;
    flex-direction: row;
  }