::ng-deep ngb-modal-backdrop {
    z-index: 1050 !important;
  }

  .container {
    height: 100vh;
  }
  
  .left {
    background-color: lightgray;
  }
  
  .right {
    background-color: beige;
  }




  table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  

  .mat-cell {
    padding: 8px 16px;
  }
  
  .mat-icon-button {
    margin-right: 8px;
  }


  .dvBtnAct{
    display: flex;
    flex-direction: row;
  }


/* Styles to images day */
  .custom-cell {
    position: relative;
    text-align: center;
  }
  
  .custom-cell .event-image {
    width: 100%;
    height: auto;
    opacity: 0.8; /* Adjust the transparency if needed */
  }
  
  .custom-cell .day-number {
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: bold;
    color: white; /* Adjust according to your design */
  }
  