
<h2 mat-dialog-title>
  <div class="dialog-actions">
    <span class="dialog-title">{{dialogTitle}}</span>
    <button mat-button class="cancel-button" (click)="onNoClick()">Cancelar</button>
    <button mat-button class="save-button" [disabled]="!replayEpisodeForm.valid" (click)="onSaveClick()">Guardar</button>
  </div>
</h2>


<mat-dialog-content class="mat-typography">
  
  <form [formGroup]="replayEpisodeForm">

    <mat-form-field>
      <mat-label>Nombre Programa</mat-label>
      <mat-select formControlName="nameProgram" id="nameProgram">
        <mat-option *ngFor="let program of programs" [value]="program.name">
          {{ program.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Invitado Special</mat-label>
      <input matInput formControlName="specialGuests" id="specialGuests" placeholder="Guest">
    </mat-form-field>

    <mat-form-field>
      
      <mat-label>Fecha Episodio</mat-label>
      <mtx-datetimepicker #datetimePicker
                    [type]="type"
                    [mode]="mode"
                    [multiYearSelector]="multiYearSelector"
                    [startView]="startView"
                    [twelvehour]="twelvehour"
                    [timeInterval]="timeInterval"
                    [timeInput]="timeInput"
                    #picker1
                  >
      </mtx-datetimepicker>
      <input [mtxDatetimepicker]="picker1" formControlName="dateOri" id="dateOri" placeholder="Date" matInput required>
      <mtx-datetimepicker-toggle [for]="picker1" matSuffix></mtx-datetimepicker-toggle>

    </mat-form-field>

    <mat-form-field>
      <mat-label>Hora Episodio</mat-label>
      <input matInput formControlName="hourOriginal" id="hourOriginal" mask="00:00" placeholder="Hour">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Duracion</mat-label>
      <input matInput formControlName="duration" id="duration" mask="00:00" placeholder="Date">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Nombre Presentador</mat-label>
        <input matInput formControlName="nameHost" id="nameHost" title="" placeholder="name">
    </mat-form-field>

    <mat-form-field>
    
      <mat-label>Fecha Repeticion Episodio</mat-label>
      <mtx-datetimepicker #datetimePicker
      [type]="type"
      [mode]="mode"
      [multiYearSelector]="multiYearSelector"
      [startView]="startView"
      [twelvehour]="twelvehour"
      [timeInterval]="timeInterval"
      [timeInput]="timeInput"
      #picker2
    >
    </mtx-datetimepicker>
    <input [mtxDatetimepicker]="picker2" formControlName="dateReplayEpisode" id="dateReplayEpisode" placeholder="Date" matInput required>
    <mtx-datetimepicker-toggle [for]="picker2" matSuffix></mtx-datetimepicker-toggle>


    </mat-form-field>

    <mat-form-field>
      <mat-label>Numero Repeticiones</mat-label>
      <input matInput type="number" min="0" step="1" formControlName="numberReplayEpisode" id="numberReplayEpisode" placeholder="number">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Canal de TV</mat-label>
      <mat-select formControlName="tvChannel" id="tvChannel">
        <mat-option *ngFor="let tv of tvPrograms" [value]="tv.url">
          {{ tv.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
 
    <mat-form-field class="full-width">
      <mat-label>Comentarios</mat-label>
      <textarea matInput formControlName="comments" id="comments" placeholder="comments"></textarea>
    </mat-form-field>

  </form>

</mat-dialog-content>


