
<h2 mat-dialog-title>
  <div class="dialog-actions">
    <span class="dialog-title">{{dialogTitle}}</span>
    <button mat-button class="cancel-button" (click)="onNoClick()">Cancel</button>
    <button mat-button class="save-button" [disabled]="!replayEpisodeForm.valid" (click)="onSaveClick()">Save</button>
    <!-- <button mat-button class="save-button" (click)="onSaveClick()">Save</button> -->
  </div>
</h2>


<mat-dialog-content class="mat-typography">
  <h3>Develop across all platforms</h3>

  <form [formGroup]="replayEpisodeForm">


    <mat-form-field>
      <mat-label>Name Program</mat-label>
      <mat-select formControlName="nameProgram" id="nameProgram">
        <mat-option *ngFor="let program of programs" [value]="program.name">
          {{ program.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Special Guests</mat-label>
      <input matInput formControlName="specialGuests" id="specialGuests">
    </mat-form-field>

    <mat-form-field>
      
      <mat-label>Date Origin Episode</mat-label>
      <mtx-datetimepicker #datetimePicker
                    [type]="type"
                    [mode]="mode"
                    [multiYearSelector]="multiYearSelector"
                    [startView]="startView"
                    [twelvehour]="twelvehour"
                    [timeInterval]="timeInterval"
                    [timeInput]="timeInput"
                    #picker1
                  >
      </mtx-datetimepicker>
      <input [mtxDatetimepicker]="picker1" formControlName="dateOri" id="dateOri" matInput required>
      <mtx-datetimepicker-toggle [for]="picker1" matSuffix></mtx-datetimepicker-toggle>

    </mat-form-field>

    <mat-form-field>
      <mat-label>Hour Original</mat-label>
      <input matInput formControlName="hourOriginal" id="hourOriginal" mask="00:00">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Duration</mat-label>
      <input matInput formControlName="duration" id="duration" mask="00:00">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Name Host</mat-label>
        <input matInput formControlName="nameHost" id="nameHost" title="" placeholder="">
    </mat-form-field>

    <mat-form-field>
      
      <!-- <mat-label>Date Replay Episode</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="dateReplayEpisode" id="dateReplayEpisode">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker> -->

      <mat-label>Date Replay Episode</mat-label>
      <mtx-datetimepicker #datetimePicker
      [type]="type"
      [mode]="mode"
      [multiYearSelector]="multiYearSelector"
      [startView]="startView"
      [twelvehour]="twelvehour"
      [timeInterval]="timeInterval"
      [timeInput]="timeInput"
      #picker2
    >
    </mtx-datetimepicker>
    <input [mtxDatetimepicker]="picker2" formControlName="dateReplayEpisode" id="dateReplayEpisode" matInput required>
    <mtx-datetimepicker-toggle [for]="picker2" matSuffix></mtx-datetimepicker-toggle>


    </mat-form-field>

    <mat-form-field>
      <mat-label>Number Replay Episode</mat-label>
      <input matInput type="number" formControlName="numberReplayEpisode" id="numberReplayEpisode">
    </mat-form-field>
 
    <mat-form-field class="full-width">
      <mat-label>Comments</mat-label>
      <textarea matInput formControlName="comments" id="comments"></textarea>
    </mat-form-field>


  </form>

</mat-dialog-content>


